<h3>GroceryStoreCMS</h3>
<p-tabMenu [model]="navItems" [activeItem]="activeItem">
  <ng-template pTemplate="item" let-item let-i="index">
    <div style="position: relative; text-align: center; min-width: 10em">
      <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
      <div class="ui-menuitem-text">
        {{item.label}}
      </div>
      <a tabindex="0" class="ui-menuitem-icon" (click)="closeItem($event, i)" style="position: absolute; right: -1em; top: -.5em; padding: 0" *ngIf="i !== 0">
        <span class="pi pi-times"></span>
      </a>
    </div>
  </ng-template>
</p-tabMenu>
<router-outlet></router-outlet>
